body {
	margin: 0;
	background: #000000;
	color: #E8E8E8;
	font-family: sans-serif;
}

#sceneMenu {
	background: hwb(0deg 0% 100% / 25%);
	display: inline-block;
	position: fixed;
	z-index: 34;
	line-height: 150%;
	font-size: 150%;
	padding: 0.5em;
	max-height: calc(100vh - 1em);
	overflow: auto;
}

@media (max-width: 600px) {
  .menuMain {
	  width: 100vw;
	  height: 100vh;
  }
  .menuMain > div {
	  padding-bottom: max(10vh, 30px);
  }
}

.menuOption {
	display: table;
	opacity: 0.6;
}

.menuOption:hover {
	color: #EDD185;
	opacity: 1;
}

@keyframes sparkle {
	0% { opacity: 1; transform: scale(1); }
	100% { opacity: 0.3; transform: scale(1.2); }
}

.anim-icon {
	display: inline-block;
	font-size: 24px;
	position: relative;
	color: transparent;
	width: 20px;
}

.anim-icon::before {
	content: "\2605"; /* Unicode star character */
	color: #ffdb58; /* You can adjust the color */
	position: relative;
	top: -2px;
	animation: sparkle 3s infinite alternate; /* Adjust the animation duration as needed */
}

.blah {
	line-height: inital;
	font-size: initial;
	margin: 10pt;
}

h2 {
	margin-bottom: 0;
}